# IntelliJ
.idea/

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.local

# Java
**/target/

# Logs
*.log

# OS files
.DS_Store 
Thumbs.db

# VS Code
.vscode/

# Maven
**/target/

# Frontend
Frontend/node_modules/
Frontend/dist/

# Environment files
**/.env
**/.env.local